[Unit]
Description=CSYE6225 Webapp Service
After=network.target postgresql.service

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
ExecStart=/usr/bin/java -jar /opt/csye6225/webapp/webapp-0.0.1-SNAPSHOT.jar
EnvironmentFile=/opt/csye6225/webapp/application.properties
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp

[Install]
WantedBy=multi-user.target